.parents   {
    background-color: rgb(150, 128, 170);
    height: 400px;
    width: 400px;
}

.child {
    background-color: coral;
    height: 50%;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(117, 80, 11);
    
}

.parents:hover .child {
    /* background-color: lightgreen; */
    /* transform: translateX(100%); */
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: case-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
} 

@keyframes example {
  0%{
    transform: translateX(100%);
  }
  33%{
    transform: translateY(100%);
  }

  66%{
    transform: translateX(100%) translateY(100%);
  }
  100%{
    transform: translateX(100%) translateY(0);
  }
}


   @keyframes bounce {
      0%, 100% { transform: translate(-50%, -50%) scale(1); }
      50% { transform: translate(-50%, -60%) scale(1.1); }
    }

    @keyframes floatText {
      0% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
      100% { transform: translateY(0); }
    }
 