body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: lightyellow;
    }

    .parents {
      background-color: rgb(150, 128, 170);
      height: 400px;
      width: 400px;
      display: flex;
      flex-direction: column;   
      justify-content: flex-start; 
      align-items: center;
      border-radius: 10px;
      padding: 20px;
    }

     .title {
      font-size: 24px;
      font-weight: bold;
      color: rgb(22, 19, 19);
      text-align: left;
      animation: floatText 3s infinite;
      
     }

    .child {
      background-color: coral;
      height: 50%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: rgb(117, 80, 11);
      margin-top: auto; 
      margin-bottom: auto;
    }


.parents:hover {
    background-color: lightblue;
    transform: rotate(45deg);
}
.parents:hover .child {
    /* background-color: lightgreen; */
    /* transform: translateX(100%); */
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: case-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
    
} 

@keyframes example {
  0%{
    transform: translateX(100%);
  }
  33%{
    transform: translateY(100%);
  }

  66%{
    transform: translateX(100%) translateY(100%);
  }
  100%{
    transform: translateX(100%) translateY(0);
  }
}


   @keyframes bounce {
      0%, 100% { transform: translate(-50%, -50%) scale(1); }
      50% { transform: translate(-50%, -60%) scale(1.1); }
    }

    @keyframes floatText {
      0% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
      100% { transform: translateY(0); }
    }
 